version: '3'
services:
  web:
    build: .
    env_file:
      - .env
    depends_on:
      - db
  db:
    image: mariadb:latest
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 3p1c_P@ssw0rd
      MYSQL_DATABASE: stadium
      MYSQL_USER: stadium
      MYSQL_PASSWORD: P@ssw@rd
