// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import "~materialize-css/dist/css/materialize.min.css";
@import "variables";

nav, .btn {
  background-color: $green;
}

.row {
  margin-top: 15vh;
}

#description {
  height: 115px;
}

#modal image {
  max-width: 100%;
}