@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import "~materialize-css/dist/css/materialize.min.css";
@import "variables";

.input-field {
  label {
    color: $white;
  }

  input, textarea {
    color: $white;

    &[type=text]:focus {
      //border-bottom: 1px solid $white !important;
      box-shadow: 0 1px 0 0 $white;
    }

    &[type=text]:focus + label {
    }
  }
}

footer.page-footer {
  background-color: $green;
  margin-top: -6px;
}

