@import url("https://fonts.googleapis.com/css?family=Roboto:400,900");
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~@fancyapps/fancybox/dist/jquery.fancybox.min.css";
@import "variables";

body {
  font-family: 'Roboto', 'sans-serif';
}

h1, h5 {
  font-weight: 900;
  color: $grey;

  &:hover {
    color: $pink;
  }
}

#header {
  ul {
    a, a:visited {
      color: $pink;

      &:hover {
        color: darken($pink, 20%);
      }
    }
  }
}

#accueil {
  background: no-repeat center center;
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;

  img {
    max-width: 50%;
    padding-left: 50px;
  }
}

#menu {

  margin: 10vh 0;

  ul.leaders {
    max-width: 40em;
    padding: 0;
    overflow-x: hidden;
    list-style: none;

    &.today {
      max-width: 80em;
    }

    li:before {
      float: left;
      width: 0;
      white-space: nowrap;
      content:
        ". . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . "
    }

    span {
      &:first-child {
        padding-right: 0.33em;
        background: white
      }

      &+ span {
        float: right;
        padding-left: 0.33em;
        background: white
      }
    }
  }
}

#presentation {

  padding-bottom: 10vh;

  .landing-image {
    max-width: 100%;
  }

  .about-text {
    margin-top: 1vh;
  }
}

section .section-title {
  text-align: center;
  color: #007b5e;
  margin-bottom: 50px;
  text-transform: uppercase;
}

#gallery {
  margin-right: -15px;
  margin-left: -15px;

  img {
    object-fit: none;
    object-position: center;
    height: 30vw;
    padding: 0;
  }
}

#contact {
  background-color: $green;

  .footer-container {
    margin: 5vh 0;

    form {
      button {
        background-color: $pink;
        color: #fff;

        &:hover {
          background-color: darken($pink, 20%);
        }
      }
    }

    .quicklinks {
      margin-top: 24px;
      text-align: right;

      a {
        color: $grey;
        font-weight: 900;
        font-size: 20px;
        display: block;
        margin-bottom: 15px;

        &:hover {
          text-decoration: none;
          color: $pink;
        }
      }
    }
  }
}

@media all and (max-width: 768px){
  #contact {

    form {
      button {
        display: block;
        width: 100%;
      }
    }

    .footer-container {
      .quicklinks {
        text-align: center;
      }
    }
  }
}